<div class="front_page">
    <div class="website_header">
        <div class="remotestate_logo"></div>
        <div class="website_header_body">
            <div class="about">About</div>
            <div class="services">Services</div>
            <div class="technologies">Technologies</div>
            <div class="portfolio">Portfolio</div>
            <div class="blog">Blog</div>
            <div class="contact_button">
                <div class="contact_button_text">Contact</div>
            </div>
        </div>
    </div>
    <div class="front_page_body">
        <div class="redefine">Redifing</div>
        <div class="mobile_experience">Mobile Experience</div>
        <div class="front_body">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
        </div>
        <div class="click">
            <div class="click_text">Click</div>
        </div>
    </div>
    <div class="frontpage_footer">
    </div>
</div>

<div class="second_page">
    <div class="second_page_head">
        One team, One love - INNOVATION
    </div>
    <div class="second_page_head_foot">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </div>
    <div class="second_page_body_1">
        <div class="thosand">1000+</div>
        <div class="fivehund">500+</div>
        <div class="product_deliver">Products delivered</div>
        <div class="creative_nerd">Creative Nerds</div>
        <div class="second_page_hor_line"></div>
        <div class="second_page_ver_line"></div>
        <div class="dollar_hund">$100m</div>
        <div class="investment">Investment raised for startup</div>
    </div>
    <div class="second_page_footer">
        <div class="vorto"></div>
        <div class="dell"></div>
        <div class="micromax"></div>
        <div class="ixigo"></div>
        <div class="precium"></div>
    </div>
</div>

<div class="third_page">
    <div class="third_page_body_footer2"></div>
    <div class="third_page_body">
        <div class="third_page_body_header">
            World Class Full Access Demand
        </div>
        <div class="third_page_body_body">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
        </div>
        <div class="third_page_body_footer1"></div>
    </div>
    <div class="third_page_body_footer">
        <div class="skilled">Skilled techies</div>
        <div class="in_house">In-house</div>
        <div class="skilled_se">Skilled techies</div>
        <div class="in_house_se">In-house</div>
        <div class="skilled_th">Skilled techies</div>
        <div class="in_house_th">In-house</div>
    </div>
</div>

<div class="fourth_page">
    <div class="fourth_page_body">
        <div class="fourth_page_body_two">
            <div class="fourth_page_body_two_heading"></div>
            <div class="fourth_page_body_two_p">
                The most promising mobile apps solution providers globally
            </div>
            <div class="fourth_page_body_two_ptwo">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
            </div>
        </div>
        <div class="fourth_page_body_one">
            <div class="fourth_page_body_one_heading"></div>
            <div class="fourth_page_body_one_p">
                The most promising mobile apps solution providers globally
            </div>
            <div class="fourth_page_body_one_ptwo">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
            </div>
        </div>
        <div class="fourth_page_body_img"></div>
    </div>
    <div class="fourth_page_footer">
        <div class="fourth_page_footer_logo">
            <div class="level_star_one"></div>
            <div class="level_star_two"></div>
            <div class="level_star_three"></div>
            <div class="clutch_logo"></div>
            <div class="appfutura_logo"></div>
            <div class="manifest_logo"></div>
        </div>
        <div class="clutch_text">Number 1 app development company for Fintech/startup</div>
        <div class="appfutura_text">Top Blockchain app development company</div>
        <div class="manifest_text">Top mobile app development company</div>
        <div class="two_nine_one">2019</div>
        <div class="two_nine_two">2019</div>
        <div class="two_nine_three">2019</div>
        <div class="fourth_page_footer_one"></div>
        <div class="fourth_page_footer_two"></div>
    </div>
</div>

<div class="fifth_page">
    <div class="fifth_page_header">
        <div class="fifth_page_header_head">What we can do for you?</div>
        <div class="fifth_page_header_body">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
        </div>
    </div>
    <div class="fifth_page_body">
        <div class="product_dev">Product Development</div>
        <div class="product_table">
            <div class="prod_design">- Design Sprints</div>
            <div class="ux_design">- UI/UX Designs</div>
            <div class="mvp_dev">- MVP Developments</div>
            <div class="product_man">- Product Management</div>
            <div class="full_cycle">- Full Cycle Product Development</div>
            <div class="prod_viewall">View All</div>
            <div class="prod_view_arrow">arrow</div>
        </div>
        <div class="product_img"></div>
        <div class="tech">Technology</div>
        <div class="tech_table">
            <div class="backend">- Backend</div>
            <div class="web">- Web & Hybrid</div>
            <div class="android_dev">- Android Development</div>
            <div class="ios_dev">- iOS Development</div>
            <div class="cloud_ser">- Cloud Services</div>
            <div class="devopt">- DevOps</div>
            <div class="database">- Database</div>
            <div class="iot">- iOT</div>
            <div class="opensource">- Opensource Services</div>
            <div class="tech_design">- Design</div>
            <div class="tech_viewmore">View All</div>
            <div class="tech_view_arrow">arrow</div>
        </div>
        <div class="tech_img"></div>
    </div>
</div>

<div class="six_page">
    <div class="six_page_heading">Industry recognition drives us</div>
    <div class="six_page_heading_horline"></div>
    <div class="six_page_heading_logo"></div>
    <div class="six_page_body_head">Our Client simply love our work</div>
    <div class="six_page_body_para">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
    </div>
    <div class="six_page_alok_img"></div>
    <div class="six_page_footer">
        <div class="six_page_footer_img"></div>
        <div class="six_page_footer_body">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
        </div>
        <div class="alok">Alok Bajpai</div>
        <div class="ixigo"></div>
    </div>
</div>

<div class="seven_page">
    <div class="background_plane"></div>
    <div class="backgroung_img"></div>
    <div class="header_img">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
        <div class="five"></div>
        <div class="six"></div>
        <div class="seven"></div>
    </div>
    <div class="seven_page_heading">Innovation Award</div>
    <div class="winning_cup">Winning app</div>
    <div class="job_get">JOB GET</div>
    <div class="para">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
    </div>
    <div class="view">
        <div class="viewall">View All</div>
        <div class="viewarrow"></div>
    </div>
    <div class="seven_page_footer">
        <div class="vorto_logo"></div>
        <div class="dell_logo"></div>
        <div class="micromax_logo"></div>
        <div class="ixigo_logo"></div>
        <div class="precium_logo"></div>
        <div class="axis_logo"></div>
        <div class="sixgill_logo"></div>
        <div class="nearpe_logo"></div>
        <div class="fashion_logo"></div>
        <div class="railways_logo"></div>
    </div>
</div>

<div class="eight_page">
    <div class="eight_page_heading">Estimations & Plannings for Business Decision</div>
    <div class="eight_page_body">
        <div class="left_body">
            <div class="left_body_heading_one">You have a Vision.</div>
            <div class="left_body_heading_two">We have a way to get you there</div>
            <div class="left_body_body">
                Global Leader in new age digital product development
            </div>
        </div>
        <div class="right_body">
            <div class="full_name">Full Name</div>
            <div class="hor_line_one"></div>
            <div class="email">email</div>
            <div class="hor_line_two"></div>
            <div class="contact">Contact</div>
            <div class="hor_line_three"></div>
            <div class="message"><p class="text">Message</p></div>
            <div class="capta">AGF45D</div>
            <div class="capta_load"></div>
            <div class="capta_write"></div>
            <div class="submit_but">
                <div class="submit_text">Submit</div>
            </div>
        </div>
    </div>
</div>

<div class="website_footer">
    <div class="website_footer_logo">
        <div class="website_footer_logo_upar"></div>
        <div class="website_footer_logo_downar"></div>
        <div class="website_footer_logo_remote">RemoteState</div>
    </div>
    <div class="website_footer_body_one">
        <div class="website_footer_body_one_head">About us</div>
        <div class="website_footer_body_one_body_one">About us</div>
        <div class="website_footer_body_one_body_two">About us</div>
        <div class="website_footer_body_one_body_three">About us</div>
        <div class="website_footer_body_one_body_four">About us</div>
    </div>
    <div class="website_footer_body_two">
        <div class="website_footer_body_one_head">About us</div>
        <div class="website_footer_body_one_body_one">About us</div>
        <div class="website_footer_body_one_body_two">About us</div>
        <div class="website_footer_body_one_body_three">About us</div>
        <div class="website_footer_body_one_body_four">About us</div>
    </div>
    <div class="website_footer_body_three">
        <div class="website_footer_body_one_head">About us</div>
        <div class="website_footer_body_one_body_one">About us</div>
        <div class="website_footer_body_one_body_two">About us</div>
        <div class="website_footer_body_one_body_three">About us</div>
        <div class="website_footer_body_one_body_four">About us</div>
    </div>
    <div class="website_footer_body_four">
        <div class="website_footer_body_one_head">About us</div>
        <div class="website_footer_body_one_body_one">About us</div>
        <div class="website_footer_body_one_body_two">About us</div>
        <div class="website_footer_body_one_body_three">About us</div>
        <div class="website_footer_body_one_body_four">About us</div>
    </div>
</div>